<form data-mhh-adjustment class="flexcol">
  <section class="standard-form" data-application-part="form">
    <fieldset>
      <legend>Creature Adjustment</legend>

      <div class="form-group">
        <label for="mhh-adjustment">Adjustment</label>
        <div class="form-fields">
          <select id="mhh-adjustment" name="ewMode">
            <option value="default" selected>Default</option>
            <option value="elite">Elite</option>
            <option value="weak">Weak</option>
          </select>
        </div>
        <p class="hint">Applies a quick balance tweak to the creature.</p>
      </div>
    </fieldset>
  </section>
</form>
